Source: nginx
Section: httpd
Priority: optional
Maintainer: Nicolas Zin <nicolas.zin@gmail.com>
XSBC-Original-Maintainer: Kartik Mistry <kartik@debian.org>
Uploaders: Jose Parrella <bureado@debian.org>,
           Fabio Tranchitella <kobold@debian.org>,
           Michael Lustfield <michael@lustfield.net>,
           Dmitry E. Oboukhov <unera@debian.org>,
           Cyril Lavier <cyril.lavier@davromaniak.eu>
Build-Depends: autotools-dev,
               debhelper (>= 7),
               dpkg-dev (>= 1.15.7),
               libexpat-dev,
               libgd2-noxpm-dev,
               libgeoip-dev,
               liblua5.1-dev,
               libmhash-dev,
               libpam0g-dev,
               libpcre3-dev,
               libperl-dev,
               libssl-dev,
               libxslt1-dev,
               zlib1g-dev,
               libgeoip-dev
Standards-Version: 3.9.3
Homepage: http://nginx.net
Vcs-Svn: svn://svn.debian.org/svn/collab-maint/deb-maint/nginx/trunk
Vcs-Browser: http://svn.debian.org/wsvn/collab-maint/deb-maint/nginx/trunk

Package: nginx-common
Architecture: all
Depends: lsb-base (>= 3.2-14), ${misc:Depends}
Replaces: nginx (<< 0.8.54-4),
          nginx-extras (<< 0.8.54-4),
          nginx-full (<< 0.8.54-4),
          nginx-light (<< 0.8.54-4)
Breaks: nginx (<< 0.8.54-4),
        nginx-extras (<< 0.8.54-4),
        nginx-full (<< 0.8.54-4),
        nginx-light (<< 0.8.54-4)
Description: small, but very powerful and efficient web server (common files)
 Nginx (engine x) is a web server created by Igor Sysoev and kindly provided to
 the open-source community. This server can be used as standalone HTTP server
 and as a reverse proxy server before some Apache or another big server to
 reduce load to backend servers by many concurrent HTTP-sessions.
 .
 This package contains base configuration files used across multiple packaged
 versions of Nginx (nginx-full, nginx-light, nginx-extras, nginx-naxsi).

Package: nginx-naxsi-geoip
Architecture: any
Priority: extra
Depends: geoip-database, libgeoip1, nginx-common (= ${source:Version}), ${misc:Depends}, ${shlibs:Depends}
Provides: httpd, nginx
Conflicts: nginx-extras, nginx-full, nginx-light, nginx-naxsi
Description: nginx web server with naxsi 0.44 included
 Nginx (engine x) is a web server created by Igor Sysoev and kindly provided to
 the open-source community. This server can be used as standalone HTTP server
 and as a reverse proxy server before some Apache or another big server to
 reduce load to backend servers by many concurrent HTTP-sessions.
 .
 This package provides the standard version of Nginx, including the naxsi Web
 Application Firewall.
 .
 MODULES INCLUDED:
 Standard HTTP Modules:
   Core, Access, Auth Basic, Auto Index, Browser, Charset, Empty GIF, FastCGI,
   Geo, Gzip, Headers, Index, Limit Requests, Limit Zone, Log, Map, Memcached,
   Proxy, Referer, Rewrite, SCGI, Split Clients, SSI, Upstream, User ID, UWSGI
 Optional HTTP Modules:
   Gzip Precompression, IPv6, Stub Status, SSL
 Mail Modules:
   None
 Third Party Modules:
   Naxsi, Cache Purge, Upstream Fair
